/* || FONT LINK */
@font-face {
    font-family:'Figtree' ;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf)
    format(truetype);
    font-weight:100 900;
    font-display:swap;
}

/* || RESETS */

*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img,
svg,
canvas{
    display:block;
    width:100%;
    height:auto;
}

/* || VARIABLES */

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    gap:1rem;
    min-height:100svh;
    background:var(--Yellow);
    font-family:'Figtree', 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width:20rem;
    padding:1rem;
    text-align:left;
    background-color: var(--White);
    display:grid;
    gap:1rem;
    border-radius:15px;
    border:1px solid var(--Black);
    box-shadow:7px 7px 0px 1px var(--Black);
    margin-inline:1rem;
}

.container > svg{
    border-radius:10px;
}

.page-name{
    font-size:1rem;
    font-weight:800;
    color:var(--Black);
    background-color: var(--Yellow);
    padding:0.2rem .5rem;
    margin-block-end:1rem;
    border-radius:5px;
    width:fit-content;
}

.date{
    font-size:0.8rem;
    color:var(--Black);
}

.heading{
    font-size:1.2rem;
    font-weight:800;
    color:var(--Black);
    padding-block:0.5rem;
}

.heading:hover{
    color:var(--Yellow);
    cursor:pointer;
}

.main_paragraph{
    font-size:0.8rem;
    color:var(--Grey);
    padding-block-end:1rem;
}

.profile{
    display:flex;
    gap:0.5rem;
    align-items:center;
    padding-block:0.2rem;
    font-weight: 700;
    font-size:0.rem;
}

.profile img{
    height:35px;
    width:35px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }